<section class="p-4 flex flex-col gap-4">
  <div class="h-20 w-20 rounded-full overflow-hidden">
    <img class="h-full w-full object-cover" [src]="imageURL" />
  </div>

  <div class="py-1 outline-0 border-b" [contentEditable]="isEditable">
    Edit Here
  </div>

  <div class="flex gap-4">
    @for (os of operatingSystems; track os.id) {
    <div>{{ os.name }}</div>
    }
  </div>

  <div class="h-1 rounded-4xl bg-amber-500"></div>

  <div class="flex gap-4">
    @for (user of users; track user.id) {
    <div>{{ user.name }}</div>
    }
  </div>

  <div (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
    {{ message }}
  </div>

  <app-user occupation="Developer" (incrementCountEvent)="addItem($event)" />

  <p>Items Length : {{ items.length }}</p>
</section>
